<!-- <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <label for="country">Country Name:</label>
      <input type="text" id="country" class="form-control" placeholder="Type here to search" #countryname/>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-md-6 text-center">
      <button class="btn btn-primary mr-2" (click)="search(countryname.value)">Search</button>
      <button class="btn btn-secondary" (click)="reset()">Reset</button>
    </div>
  </div>
  @if(apiData){
    <div class="mt-4">
      <div class="row">
        <div class="col-md-12">
          @for(country of apiData; track country){
            <div>
              <table class="table table-bordered">
                <tr>
                  <td>Name</td>
                  <td>{{ countryname.value }}</td>
                </tr>
                <tr>
                  <td>Capital</td>
                  <td>{{ country.capital }}</td>
                </tr>
                <tr>
                  <td>Currency</td>
                  <td>{{ getCurrencyInfo(country.currencies) }}</td>
                </tr>
                <tr>
                  <td>Time Zone</td>
                  <td>{{ country.timezones }}</td>
                </tr>
                <tr>
                  <td>Flag</td>
                  <td><img [src]="country.flags.png" style="height: 100px; width: 100px;"/></td>
                </tr>
              </table>
              <br/><br/>
            </div>
          }
        </div>
      </div>
    </div>
  }
</div> -->


<!-- Post API Method Data Collection -->

<div class="container">
  <h2 class="text-center">Employee Details</h2>
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <label for="name">Name:</label>
        <input type="text" id="name" class="form-control" formControlName="name"/>
        <div *ngIf="employeeForm.get('name')?.invalid && employeeForm.get('name')?.touched">
          <small class="text" *ngIf="employeeForm.get('name')?.errors?.['required']">Name is required.</small>
        </div>
        
        <label for="salary">Salary:</label>
        <input type="text" id="salary" class="form-control" formControlName="salary"/>
        <div *ngIf="employeeForm.get('salary')?.invalid && employeeForm.get('salary')?.touched">
          <small class="text" *ngIf="employeeForm.get('salary')?.errors?.['required']">Salary is required.</small>
        </div>
        
        <label for="age">Age:</label>
        <input type="text" id="age" class="form-control" formControlName="age"/>
        <div *ngIf="employeeForm.get('age')?.invalid && employeeForm.get('age')?.touched">
          <small class="text" *ngIf="employeeForm.get('age')?.errors?.['required']">Age is required.</small>
        </div>
        
        <div class="row justify-content-center mt-3 submitBtn">
          <div class="col-md-6 text-center">
            <button class="btn btn-primary" type="submit">Submit</button>
            <button class="btn btn-secondary" type="reset" (click)="resetForm()">Reset</button>
            <button class="btn btn-primary" type="button" (click)="updateUser(1)">Update</button>
            <button class="btn btn-secondary" type="button" (click)="deleteUser(10)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>



