<!-- <app-angular></app-angular>
<app-javascript></app-javascript> -->

<div>
    <label for="name">Name : </label>
    <input type="text" id="name" name="name" #name />
    <label for="age">Age : </label>
    <input type="text" id="age" name="age" #age />
    <button type="button" (click)="onSubmit(name.value, age.value)">Submit</button>
</div>

<div>
    <button type="button" (click)="count()">Count</button>
    {{number}}
</div>

<div>
    @if(apiData){
        <div>
            @for(index of apiData; track index){
                <p>Name : {{index.name}}</p>
                <!-- @if(index.data.capacity === null){
                    <p>Capacity : null</p>
                }
                else{
                    <p>Capacity : {{index.data.capacity}}</p>
                } -->
                
            }
        </div>
    }
</div>